* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: large;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid gray;
	padding: 0.2rem;
}

.header {
	background-color: #ef3f3f;
	padding: 1rem;
	font-family: sans-serif;
	color: #efefef;
}

.header a {
	color: #efefef;
}

nav::before {
	content: '😀';
	font-family: initial;
}

nav {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.content {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.content > h2 {
	border: 2px solid #ef3f3f;
	border-radius: 1em;
	padding-left: 0.5rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.content > h3 {
	border-bottom: 2px dotted #ef3f3f;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.content > p {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.infobox {
	max-width: 20rem;
	border: 1px solid gray;
	border-radius: 0.5rem;
	float: right;
	margin-left: 1rem;
	padding: 1rem;
	background-color: #ffdada;
}

.editor-side {
	padding-right: 1rem;
}

.editor {
}

.toolbar {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.33rem;
	padding: 2px;
	background-color: #ebebeb;
}

.toolbar > button {
}

.result-side {
}
.result {
	border: 2px ridge black;
	width: 100%;
	padding: 1rem;
	height: 100%;
}


.example {
	border: 1px solid gray;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-top: 1rem;
}

.example > h3 {
	margin-top: 0;
}

.task > h3::before {
	content: '✏️';
	margin-right: 1rem;
}

.extra > h3::before {
	content: '🔍';
	margin-right: 1rem;
}

.left {
	grid-column: 1;
}

.right {
	grid-column: 2;
}

.split-screen {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
