* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid gray;
	padding: 0.2rem;
}

.header {
	background-color: #ef3f3f;
	padding: 1rem;
	font-family: sans-serif;
	color: #efefef;
}

.header a {
	color: #efefef;
}

nav::before {
	content: '😀';
	font-family: initial;
}

.content {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.infobox {
	border: 1px solid gray;
	border-radius: 0.5rem;
	float: left;
	padding: 1rem;
	background-color: #feadad;
}

.editor-side {
	padding-right: 1rem;
}

.editor {
}

.toolbar {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.33rem;
	padding: 2px;
	background-color: #ebebeb;
}

.toolbar > button {
}

.result-side {
}
.result {
	border: 2px ridge black;
	width: 100%;
	padding: 1rem;
}


.example {
	border: 1px solid gray;
	border-radius: 0.5rem;
	padding: 1rem;
}

.left {
	grid-column: 1;
}

.right {
	grid-column: 2;
}

.split-screen {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
